*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: Arial, Helvetica, sans-serif;
    background: #f9f9f9;
    color: #333;
    line-height: 1.6;
}
header{
    background: #111;
    color: #fff;
    padding: 60px 20px;
    text-align: center;
}
header h1{
    font-size: 2.5rem;
    margin-bottom: 10px;
}
header p{
    font-size: 1.2rem;
    margin-bottom: 20px;
}
.btn{
    background: #0066cc;
    color: #fff;
    padding: 12px 25px;
    text-decoration: none;
    border-radius: 5px;
}
section{
    max-width: 1000px;
    margin: auto;
    padding: 50px 20px;
}
h2{
    margin-bottom: 20px;
}
.Service, .men{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.men{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0 0 0 0 1);
}
.skills span{
    display: inline-block;
    background: #eaeaea;
    padding: 8px 12px;
    margin: 6px;
    border-radius: 5px;
}
.projects{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
}
.me{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0 0 0 0 1);
    transition: transform 0.3s;
}
.me:hover{
    transform: scale(1.05);
}
.le{
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0 0 0 0 1);
    transition: transform 0.3s;
}
footer{
    background: #111;
    color: #fff;
    text-align: center;
    padding: 20px;
}
.fade-in{
    opacity: 0;
    animation: fadeIn 1s forwards;
}
@keyframes fadeIn{
    to{opacity: 1;}
}
.slide-in{
    transform: translateY(50px);
    opacity: 0;
    animation: slideIn 1s forwards;
}
@keyframes slideIn{
    to{transform: translatey(0); opacity: 1;}
}